/* ! Utility */
*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #4a4a4a;
    --footer: #222222;
}

body {
    font-family: sans-serif;
    background-color: var(--black);
    color: var(--white);
}

/* ! CSS Globale */

header {
    height: 50px;
}

main {
    height: calc(100vh - 130px);
    overflow-y: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    height: 80px;
    background-color: var(--footer);
}


/* ! CSS classi singole */
.wrapper {
    width: 100%;
    margin: 0 auto;
}


/* ! CSS della sezione Header */
.flex-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav p {
    display: block;
    background-color: var(--gray);
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    padding: 0 5px;
    font-size: 0.68vw;
    margin: 5px 5px 0;
}

nav p i {
    padding: 0 3px;
    font-size: 15px;
    text-align: center;
}

nav span {
    display: block;
    background-color: var(--gray);
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    padding: 0 6px;
    margin: 5px 5px 0 3px;
}


/* ! CSS della sezione Main */
.flex-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main img {
    width: 100%;
}

.container {
    margin: 5px auto;
    width: 86%;
}

.box {
    position: relative;
    padding-right: 5px;
    width: calc(100% / 7);
    min-width: 20vh;
    margin-bottom: 5px;
}

.name {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.8vw;
}


/* ! CSS della sezione Footer */
.section-footer {
    bottom: 0;     
    height: 80px;     
    width: 100%;        
    display: flex;     
    justify-content: space-between;
}

.section-footer .bar-icon {     
    display: flex; 
}

.bar-item {     
    color: white;     
    display: flex;     
    flex-direction: column;     
    justify-content: center;     
    flex-wrap: wrap;     
    padding: 0 5px;     
    align-items: center; 
    font-size: 1.5vw; 
}

.fa-angle-up {
    font-size: 0.7vw;
}

.description {     
    font-size: 0.8vw;
    padding-top: 8px;  
}

.section-footer .bar-icon #share {     
    margin-right: 15px; 
}  

.section-footer .bar-icon #share{     
    color: #4BC800; 
} 

.meeting {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #4a4a4a;
    color: #FF0000;
    font-size: 0.8vw;
}